#featuredIn_section {
    padding-bottom: 100px;

    span {
        margin-top: 100px;
        gap: 100px 200px;
        width: calc(100% - 350px);
        display: flex;
        flex-flow:  row wrap;
        justify-content: center;

        div {
            width: 150px;
            height: 150px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1264px) {
    #featuredIn_section span {
        width: calc(100% - 150px);
    }
}

@media only screen and (max-width: 650px) {
    #featuredIn_section span {
        margin-top: 30px;
        width: calc(100% - 20px) !important;
        gap: 30px;

        div {
            width: 15vw !important;
            height: 15vw !important;
        }
    }
}