footer {
    padding-top: 60px;

    p {
        width: 50%;
        font-size: 25px;
        margin-bottom: 80px;
    }

    span {
        gap: 60px;
        width: 60%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .input_wrapper {
            display: flex;
            flex-flow:  column nowrap;

            label {
                font-weight: 600;
                font-size: 20px;
            }

            input {
                background: transparent;
                outline: none;
                border: 2px solid #CEC8D0;
                border-radius: 5px;
                font-size: 18px;
                padding: 8px 15px;

                &::placeholder {
                    color: rgba(19, 49, 95, .5);
                }
            }
        }
    }

    button {
        margin-top: 150px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 780px) {
    footer p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 620px) {
    footer {
        p {
            width: calc(100% - 40px);
        }

        span {
            gap: 30px;
            width: calc(100% - 40px);
            flex-flow: column nowrap;
        }
    }
}