#info_float_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 30px;

    #info_float {
        width: 600px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        background: #F8F9F9;
    
        p {
            border-radius: 5px;
            display:inline-block;
            margin: 0;
            padding: 0;
            background: #9DD7A2;
            color: #13315F;
            font-weight: 800;
            padding: 5px 20px;
            width: 85%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 650px) {
    #info_float_wrapper #info_float {
        width: 90%;

        p {
            width: 75% !important;
        }
    }
}