.info_structure {
    position: relative;
    padding-bottom: 200px;

    #info_wrapper {
        width: 80%;
        gap: 150px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        span#col {
            display: flex;
            flex-flow: column nowrap;

            width: 35%;
            gap: 50px;

            h3 {
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
                padding: 0;

                font-size: 20px;
                font-weight: 500;
            }
        }
    }

}

@media only screen and (max-width: 1300px) {
    .info_structure #info_wrapper {
        gap: 50px;
        width: calc(100% - 50px);

        span#col {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 750px) {
    .info_structure #info_wrapper {
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;

        span#col {
            width: calc(100% - 80px);
        }
    }
}