#landing_section {
    padding-bottom: 60px;

    #video {
        width: 430px;
        height: 250px;
        background-color: #CEC8D0;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}