#featuredIn_section {
  padding-bottom: 100px;
}

#featuredIn_section span {
  margin-top: 100px;
  gap: 100px 200px;
  width: calc(100% - 350px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#featuredIn_section span div {
  width: 120px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#featuredIn_section span div img {
  width: 100%;
}

@media only screen and (max-width: 1264px) {
  #featuredIn_section span {
    width: calc(100% - 150px);
  }
}

@media only screen and (max-width: 650px) {
  #featuredIn_section span {
    margin-top: 30px;
    width: calc(100% - 20px) !important;
    gap: 30px;
  }

  #featuredIn_section span div {
    width: 15vw !important;
    height: 15vw !important;
  }
}