@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: #13315F;
  font-family: "Nunito sans";

  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#root {
  width: 100%;
}

input {
  color: #13315F;
}

button, input {
  font-family: "Nunito sans";
}

button {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 250ms;
}

button:hover {
  filter: brightness(.8);
}