#zoom_section {
  padding-bottom: 30px;
  background: #F8F9F9;
}

#zoom_section span {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

#zoom_section span img {
  height: 500px;
}

#zoom_section span div {
  width: 500px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#zoom_section span div h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  text-align: left;
}

#zoom_section span div p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
}

@media only screen and (max-width: 1300px) {
  #zoom_section span {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 1050px) {
  #zoom_section span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #zoom_section span img {
    height: auto;
    width: 100%;
  }
  #zoom_section span div {
    width: 100% !important;
  }
}
