#zoom_section {
  padding-bottom: 30px;
  background: #F8F9F9;
}

#zoom_section span {
  margin-top: 50px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

#zoom_section span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#zoom_section span div img {
  height: 50px;
}

#zoom_section span div h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 40px;
}

#zoom_section span div p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
}
